.git
.gitignore
.vscode
.idea
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
node_modules/
npm-debug.log
yarn-error.log
tests/
docs/
examples/
*.log
*.pot
*.mo
*.swp
.DS_Store
