apiVersion: v1
kind: ResourceQuota
metadata:
  name: stream-processing-quota
  namespace: stream-processing
spec:
  hard:
    requests.cpu: "20"
    requests.memory: 40Gi
    limits.cpu: "40"
    limits.memory: 80Gi
    persistentvolumeclaims: "10"
    pods: "20"

